* { margin-left: 1%; font-family: 'lucida grande', helvetica, verdana, arial, sans-serif  }
/* html, body, #main { height: 100% } */
/* body, div { font-family: 'lucida grande', helvetica, verdana, arial, sans-serif } */
/* body { margin: 0; padding: 0; font-size: small; color: #333 } */
/* h1, h2 { font-family: 'trebuchet ms', verdana, arial; padding: 10px; margin: 0 } */
/* h3 { margin-top: .5em; } */
